<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471622134386-k9qagtas9ub6k941v66kp1is694bcahb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471622134386-k9qagtas9ub6k941v66kp1is694bcahb</string>
	<key>API_KEY</key>
	<string>AIzaSyCt4E-Psbrp0O0pBsvsNmkZxKPnKWQlHn0</string>
	<key>GCM_SENDER_ID</key>
	<string>471622134386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wagwan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wagwan-95fdf</string>
	<key>STORAGE_BUCKET</key>
	<string>wagwan-95fdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471622134386:ios:2703084d56efba66c7b0eb</string>
</dict>
</plist>